extends partials/layout

block content
	.main-content
		h1 #{title}
		br
		br
		h2.text-center.jumbotron  #{title}
			p Collaborata’s basic premise is that no matter the size of your business, facilitating companies and organizations; collaborating in shaping and funding marketing research.