extends partials/layout

block content
	.main-content
		h1 #{title}
		br
		br
		h2.text-center.jumbotron  About Company
			p Collaborata’s basic premise is that no matter the size of your business, facilitating companies and organizations; collaborating in shaping and funding marketing research.
			button.bt.btn-info.btn-sm(data-toggle="modal", data-target="#myModal", onclick="location.href='/about/company';") GO TO PAGE 

		h2.text-center.jumbotron  About Team
			p Collaborata’s basic premise is that no matter the size of your business, facilitating companies and organizations; collaborating in shaping and funding marketing research.
			button.bt.btn-info.btn-sm(data-toggle="modal", data-target="#myModal", onclick="location.href='/about/team';") GO TO PAGE
			