extends partials/layout

block content
	.main-content
		h1 #{title}
		br
		br
		h2.text-center.jumbotron  Project List
		table.table.table-bordered.table-striped(ng-controller="ProjectListController")
			thead: tr
				th Name
				th Description
			tboday
				tr.success(ng-repeat="project in projects")
					td {{ project.name }}
					td {{ project.description }}
		br
		.text-center
			button.bt.btn-next.btn-success(data-toggle="modal", data-target="#myModal", onclick="location.href='/projects/create';") Create New Project >>
