/* Base Set-up */

@base: #ccc;
@padding: 10px;
@margin: 50px;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.fade.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/* Implementation */

.sidebar{
  padding-left: @padding;
  border-right: 1px solid @base;
}

.sidebar p{
  padding-left: @padding;
}

.sidebar h1{
  padding-bottom: @padding;
  border-bottom: 1px solid @base;
}

footer{
  border-top: 1px solid @base;
  margin-top: @margin;
  font-style: italic;
  text-align: center;
}

.text-center{
  margin-top: 10px;
}

.reset {
  margin-left: 5px;
}

.jumbotron {
  margin-top: 10px;
}

.drop {
  width: 100%;
  top:auto;
  padding-left: 0px;
}

.checkbox {
  float: right;
  width: 340px;
}

.todotext {
  float: left;
}

.name {
  font-weight: bold;
}

#top-link-block.affix-top {
  position: absolute;
  bottom: -82px;
  left: 10px;
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  background-color: #888888;
}

.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}
