@base: #ccc;
@padding: 10px;
@margin: 50px;

.box-shadow(@style, @c) when (iscolor(@c)) {
  -webkit-box-shadow: @style @c;
  box-shadow: @style @c;
}

.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

/* Implementation */


.sidebar{
  padding-left: @padding;
  border-right: 1px solid @base;
}

.sidebar p{
  padding-left: @padding;
}

.sidebar h1{
  padding-bottom: @padding;
  border-bottom: 1px solid @base;
}


footer{
  border-top: 1px solid @base;
  margin-top: @margin;
  font-style: italic;
  text-align: center;
}

.reset {
  margin-left: 5px;
}

.drop {
  width: 100%;
  top:auto;
  padding-left: 0px;
}
