title GrubHub | #{title}
link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/bootstrap/js/dropdown.js')
script(src='/lib/angular/angular.min.js')
script(src='/lib/angular-animate/angular-animate.min.js')
script(src='/lib/angular-resource/angular-resource.js')
script(src='/lib/angular-route/angular-route.js')
script(src='/javascripts/main.js')
script(src='/javascripts/controller.js')
meta( charset='utf-8')
meta( name='description', content='Collaborata app build up for networking clients to projects.' )
meta(name="viewport", content="width=device-width, initial-scale=1.0")