block sidebar
	h1.glyphicon.glyphicon-list-alt Menu
	p: a( href="/sign-up") 
		| Sign Up
	p: a( href="/sign-up/consumer") 
		| Create Consumer Account 
	p: a( href="/sign-up/vendor")
		| Create Vendor Account 
	p: a( href="/projects/create")
		| Create New Project 
	p: a( href="/projects")
		| Preview Create Project 
	p: a( href="/promote")
		| Promote & Publish 
	p: a( href="/project/listing/consumer")
		| Project Listings (Consumer) 
	p: a( href="/project/listing/vendor")
		| Project Listings (Vendor) 
	p: a( href="/consumer/account")
		| My Account (Project Consumers)
	p: a( href="/consumer/project")
		| My Projects (Project Consumers) 
	p: a( href="/consumer/endors")
		| My Endorsements (Project Consumers)
	p: a( href="/vendor/account")
		| My Account (Vendors)
	p: a( href="/vendor/project")
		| My Projects (Vendors) 
	p: a( href="/vendor/endors")
		| My Endorsements (Vendors)     
	p: a( href="/project/details/consumer")
		| Project Detail (for Consumer) 
	p: a( href="/project/details/vendor")
		| Project Detail (for Vendor) 
	p: a( href="/project/contribute")
		| Contribute to Project 
	p: a( href="/project/fund")
		| Buy Funded Project 
	p: a( href="/project/management")
		| Project Management 
	p: a( href="/vendor/endors")
		| Vendor Endorsement 
	p: a( href="/vendor/selection")
		| Vendor Selection 
	p: a( href="/vendor/endors")
		| Vendor Management 
	p: a( href="/connect/linkdin")
		| Connect LinkeDin 