block sidebar
	.widget
		h1 Menu
		p
			| Sign Up
		p
			| Create New Project
		p
			| Create New Project
		p
			| Preview Create Project
		p
			| Promote & Publish
		p
			| Project Listings (Consumer)
		p
			| Project Listings (Vendor)
		p
			| My Account (Project Consumers)
		p
			| Project Detail (for Consumer)
		p
			| Project Detail (for Vendor)
		p
			| Contribute to Project
		p
			| Buy Funded Project
		p
			| Project Management Page
		p
			| Vendor Endorsement